
{%extends 'home.html'%}
{%block body%}

{% load static %}
<!-- Photo Grid -->
<div class="w3-row-padding" style="margin-bottom:128px">
  <div class="w3-half">
    <img src="{%static '/1a.jpg'%}" style="width:100%">
    <img src="{%static '/14.jpg'%}" style="width:100%">
    <img src="{%static '/236589.jpg'%}" style="width:100%">
    <img src="{%static '/2a.jpg'%}" style="width:100%">
    <img src="{%static '/38.jpg'%}" style="width:100%">   
    <img src="{%static '/7852.jpg'%}" style="width:100%">
  </div>

  <div class="w3-half">
    <img src="{%static '/gu.jpeg'%}" style="width:100%">
    <img src="{%static '/o8.jpg'%}" style="width:100%">
    <img src="{%static '/p5.jpg'%}" style="width:100%">
    <img src="{%static '/qpqp.jpg'%}" style="width:100%">
    <img src="{%static '/s2.jpg'%}" style="width:100%">
    <img src="{%static '/3a.jpg'%}" style="width:100%">
     <img src="{%static '/mo.jpg'%}" style="width:100%">
  </div>
</div>

{% endblock %}